{% extends "erikiado/project.html" %}
{% load staticfiles %}
{% block tituloPagina %}: Pi Radio{% endblock %}




{%block tituloProyecto%}Pi Radio{% endblock %}
{%block abstractProyecto%}
<h3>Abstract:</h3>
<p>
Proyecto desarrollado para la clase de Organizacion Computacional con el proposito de entender el funcionamiento basico de una computadora a traves del desarollo de un proyecto libre orientado al internet de las cosas.<br>
Elegi utilizar una microcomputadora Raspberry Pi y utilizar uno de sus pines como antena transmisora de radio frecuencias.
</p>
{% endblock %}
{%block specsProyecto%}
<li>Raspberry Pi</li>
<li>Python</li>
<li>UNIX</li>
<li>IoT</li>
{% endblock %}
{%block tiempoProyecto%}2 semanas<br>Noviembre 2014{% endblock %}
{%block contentProyecto%}
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xCPfDg5zTmE"></iframe>
</div>
{% endblock %}


